<?xml version="1.0" encoding="UTF-8"?>

<widget version="1.0.1"

		 id="com.SayThreeNiceThings.Viewer"

		 xmlns:android="http://schemas.android.com/apk/res/android"

		 xmlns:gap="http://phonegap.com/ns/1.0"

		 xmlns="http://www.w3.org/ns/widgets">

	 <name>Say Three Nice Things</name>

	 <description>Say Three Nice Things</description>

	 
	 <gap:platform name="android" />
	 <preference value="none" name="permissions"/>
	 <icon src="icon.png" />
</widget>